<div class="main-index-guidance">
  食材名を入力してください<br>
  <input type="text" id="search-text" class="search__word">
</div>
<div class="main-index-api">
  <ul id="recipe_list" class="recipi_index_list"></ul>
</div>