// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.top-header{
  background-color:orangered;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-footer{
  background-color:lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50px;
}

.top-header-title{
  color:whitesmoke;
  font-size: 50px;
  font-weight:bold;
}

.top-header-username{
  color: black;
}

.user_nav{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 15px;
  font-weight: bold;
}

.nav-link{
  text-decoration: none;
  color: black;
}



* {
  margin: 0;
  padding: 0;
}

.main-index-guidance{
  padding-left: 30px;
  font-weight:bold;
  font-size: 25px;
}

.main-index-api{
  display: flex;
  justify-content: center;
}


.recipi_index_list  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr; /* 幅6等分 */
  grid-template-rows: auto; /* 100pxの2行 */
  grid-gap: 10px; /* 隙間10px */
  margin-bottom: 20px;
}


.js-extraction  {
  display: flex;
  list-style: none;
  height: 170px;
  width: 170px;
  align-items: center;
  justify-content: center;
  background-color:lightsalmon;
  margin:5px;
  border-radius:10px;
  font-size: 20px;
}

.table{
  margin: 10px;
}
.ranking_ul{
  display: flex;
  padding-top: 40px;
}
.ranking_li{
  list-style: none;
  width: 25%;
  height: 75%;
}
li a{
  text-decoration: none;
  color: black;
  font-weight:bold;
}

img {
  width: 100%;
  height: 100%;
}
h2 {
  font-size: 14px;
}
p {
  font-size: 12px;
}

.favorites-li{
  display: flex;
}

.favorites-show{
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: 100px;
  width: 75px;
  background-color: darksalmon;
}


.favorites{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:10px;
  font-size: 80%;
  height: 80px;
  font-weight:bold;
}

.favorite-de{
  text-decoration: none;
  color: black;
  font-size: 4px;

}

.user-devise{
  margin: 5px;
  border-radius:10px;
  padding: 20px;
  border-style: solid;
  width: 250px;
  background-color: lightskyblue;
}

.user{
  background-color:seashell;
  padding: 10px;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .recipi_index_list  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 幅4等分 */
    grid-template-rows: auto; /* 100pxの2行 */
    grid-gap: 10px; /* 隙間10px */
    margin-bottom: 20px;
  }

  .top-header-title{
    color:whitesmoke;
    font-size: 35px;
    font-weight:bold;
  }

  .user_nav{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 13px;
    font-weight: bold;
  }

}

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .recipi_index_list  {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 幅4等分 */
    grid-template-rows: auto; /* 100pxの2行 */
    grid-gap: 10px; /* 隙間10px */
    margin-bottom: 20px;
  }

  .top-header-title{
    color:whitesmoke;
    font-size: 30px;
    font-weight:bold;
  }

  .user_nav{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 11px;
    font-weight: bold;
  }

 }



a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}

/*まずはお決まりのボックスサイズ算出をborer-boxに */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}